.graphContainer {
	position: relative;
	left: -1.5%;
	width: 100%;
	color: white;
	height: 170px;
}

@media (min-width: 640px) {
}

@media (min-width: 1024px) {
}

@media (max-height: 667px) {
}
@media (min-height: 668px) and (max-height: 844px) {
	.graphContainer {
		min-height: 200px;
	}
}

@media (min-height: 843px) {
	.graphContainer {
		min-height: 300px;
	}
}

.xAxis {
	opacity: 0.5;
}

.tooltip {
	border-radius: 8px;
	font-size: 1.25rem;
	color: #32cd32;
}

.tooltipText {
	font-weight: bold;
}
